<div ui-content-for="title" ng-init="getMeasureRecords()">
  <span>我的佣金<span >({{totalMembershipMeasures}})</span></span>
</div>

<div class="scrollable">
  <div class="scrollable-content">
    <div class="section">
      <div class="panel-group" ui-state='myAccordion' ui-default='0'>
        <div ng-if="!message.success">
          {{message.message}}
        </div>
        <div class="panel panel-default" ng-repeat="measure in membershipMeasures">
          <div class="panel-heading" ui-set="{'myAccordion': $index}">
            <a class="panel-title" href="javascript:void(0)">
              <i ng-class="{'fa fa-star':true,'text-danger':measure.type==-1}"></i> 您
              <span ng-if="measure.type==1">获得</span><span ng-if="measure.type==-1">消耗</span>了{{measure.count}}元
            </a>
          </div>
          <div ui-if="myAccordion == $index" ui-scope-context='$index'>
            <div class="panel-body" style="padding-left: 30px;">
              {{measure.note}}，时间：{{ measure.date | date: 'yyyy-MM-dd' }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
