<div ui-content-for="title" ng-init="getPointsRecords()">
  <span>我的红包<span ng-if="totalMembershipPointCount">({{totalMembershipPointCount}})</span></span>
</div>

<div class="scrollable">
  <div class="scrollable-content">
    <div class="section">
      <div class="panel-group" ui-state='myAccordion' ui-default='0'>
        <div ng-if="!message.success" class="alert alert-danger">
          {{message.message}}
        </div>
        <div class="panel panel-default" ng-repeat="point in membershipPoints">
          <div class="panel-heading" ui-set="{'myAccordion': $index}">
            <a class="panel-title" href="javascript:void(0)">
              <i ng-class="{'fa fa-star':true,'text-danger':point.type==-1}"></i> 您
              <span ng-if="point.type==1">获得</span><span ng-if="point.type==-1">消耗</span>了{{point.count}}个红包{{totalCount}}
            </a>
          </div>
          <div ui-if="myAccordion == $index" ui-scope-context='$index'>
            <div class="panel-body" style="padding-left: 30px;">
              {{point.note}}，时间：{{ point.date | date: 'yyyy-MM-dd' }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
