<div ui-content-for="title" ng-init="getPointsRecords()">
  <span>购物</span>
</div>
<div ng-if="!isUserLogin()" class="scrollable">
  <div class="scrollable-content section">请先登录!</div>
</div>
<div class="scrollable" ng-if="isUserLogin()">
  <div class="scrollable-content">
    <div class='section'>
      <ui-state id='activeTab' default='1'></ui-state>

      <div class="btn-group justified nav-tabs">
        <a ui-set="{'activeTab': 1}"
            ui-class="{'active': activeTab == 1}" class="btn btn-default">购买安化黑茶</a>

        <a ui-set="{'activeTab': 2}"
            ui-class="{'active': activeTab == 2}" class="btn btn-default">去商城消费</a>

       
      </div>
      <div ui-if="activeTab == 1">
        <h3 class="page-header">购买安化黑茶</h3>
        <p>您可以在系统中购买我们的产品。</p>
      </div>

      <div ui-if="activeTab == 2">
        <h3 class="page-header">去商城消费</h3>
        <p>您可以将指定数量的积分换算为我们的合作商城的虚拟货币，并在其中消费。</p>
        <form>
          <div class="input-group" style="margin-bottom: 20px;margin-top: 20px">可用积分：{{totalMembershipPointCount}}</div>
          <div class="input-group">
            <input type="number" class="form-control" min="1" ng-model="aaa" ng-max="totalMembershipPointCount" required="true">
            <span class="input-group-addon btn btn-primary">去消费</span>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>